body {
  font-family: "Electrolize", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: "Electrolize", sans-serif;
}

 * { 
  box-sizing: border-box;

 }